



<!-- your html code here -->
<div class="container-fluid bg-white ">
    <div class="row py-5">
        
        <div class="col-4"><img class="rounded-circle " src="https://raw.githubusercontent.com/Facundopiedrabuena/exercise-collaborative-html-website/master/website/assets/img/2.jpg" style="display:flex" alt="breaking-bad" width="350" height="350"></div>
        
        <div class="col-7 ">
            <div class="d-flex">
            <div class="p-1 mx-3">
                
                <h3>The Second Heading  </h3></div> <div><h3 class="p-1 text-secondary"> Is pretty cool too.</h3></div>
            
            </div> 
                <p class="px-3 mx-3 py-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim fugiat aspernatur quas non veniam assumenda? Consequatur excepturi, voluptas doloribus corporis illo odit, quidem harum quis, earum incidunt voluptate facere accusantium!</p>
            </div>
            
            
        </div>
        
    
</div> 